body {
  text-align: center;
  background-color: silver;
}

.heading {
  background-color: aquamarine;

}

.button {
  width: 100px;
  height: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(185, 236, 134);
  border-radius: 50%;
  cursor: pointer;
}


.choice-image {
  height: 75px;
}

.reset-button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: aquamarine;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}